	      	{% extends "index.html" %}
                 {% block body %}


                 <div class="container" style="padding: 100px 0">
		
		
		<img src="/static/images/border.png" alt="Border" class="templatemo-border">
		
		<section id="albums" class="section2">
			<h2 class="text-uppercase text-center"><a href="https://www.youtube.com/results?search_query=%E8%AE%B8%E5%B5%A9">Albums</a></h2>
			<div class="row margin-top-50 templatemo-albums-container">
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album"><a href="https://www.youtube.com/watch?v=VTDRqp696Fk">
					<div class="templatemo-album-images">
							<img src="/static/images/zhuanji2.jpg" alt="Album 1" class="img-circle templatemo-album-img">
							<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
							<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame"></a>
					</div>					
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">First Album</p>
						<p class="templatemo-album-artist">Artist One</p>
						<p class="templatemo-album-date">popular </p>
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album">
					<div class="templatemo-album-images">
						<img src="/static/images/zhuanji3.jpg" alt="Album 2" class="img-circle templatemo-album-img">
						<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
						<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame">
					</div>
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">Album Two</p>
						<p class="templatemo-album-artist">Second Artist</p>
						<p class="templatemo-album-date">popular</p>
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album">
					<div class="templatemo-album-images">
						<img src="/static/images/zhuanji1.jpg" alt="Album 3" class="img-circle templatemo-album-img">
						<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
						<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame">
					</div>
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">Third Album</p>
						<p class="templatemo-album-artist">Three</p>
						<p class="templatemo-album-date">popular</p>
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album">
					<div class="templatemo-album-images">
						<img src="/static/images/zhuanji4.jpg" alt="Album 4" class="img-circle templatemo-album-img">
						<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
						<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame">
					</div>
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">Album Four</p>
						<p class="templatemo-album-artist">Fourth </p>
						<p class="templatemo-album-date">R&B</p>
					</div>				
				</div>	
			</div>				
		</section>
			<video controls="" autoplay="" name="media" src="/video/sxt.mp4" type="video/mp4"></video>
        <div id="jright">
					<div id="jright1">

				          <p align="left"><ul><p><font size="4" color="#31B0D5">NEW MV</font></p>
				                    <li><a href="http://www.kugou.com/mvweb/html/mv_144763.html"  target="_blank">惊鸿一面 </a> </li>
				                    <li> <a href="http://www.kugou.com/mvweb/html/mv_672214.html"  target="_blank">如约而至</a></li>
				                    <li> <a href="http://www.kugou.com/mvweb/html/mv_571478.html"  target="_blank">庐州月</a></li>
				 	                <li><a href="http://www.kugou.com/mvweb/html/mv_665702.html"  target="_blank">断桥残雪</a></li>
				 	                <li><a href="http://www.kugou.com/mvweb/html/mv_194017.html"  target="_blank">幻听</a> </li>
				 	                <li><a href="http://www.kugou.com/mvweb/html/mv_32036.html"  target="_blank">有何不可</a> </li>
				 	                <li><a href="http://www.kugou.com/yy/html/search.html#searchType=mv&searchKeyWord=%E8%AE%B8%E5%B5%A9"  target="_blank">more</a> </li>
				 	           </ui>
				           </p>
					</div>
					<div id="jright2">

				          <p align="left"><ul><p><font size="4" color="#31B0D5">Popular MV</font></p>
				                    <li><a href="http://www.kugou.com/mvweb/html/mv_52156.html"  target="_blank">多余的解释</a> </li>
				                    <li> <a href="http://www.kugou.com/mvweb/html/mv_142458.html"  target="_blank">山水之间</a></li>
				                    <li> <a href="http://www.kugou.com/mvweb/html/mv_575236.html"  target="_blank">清明雨上</a></li>
				 	                <li><a href="http://www.kugou.com/mvweb/html/mv_578877.html"  target="_blank">雅俗共赏</a></li>
				 	                <li><a href="http://www.kugou.com/mvweb/html/mv_202694.html"  target="_blank">天龙八部之宿敌</font></a> </li>
				 	                <li><a href="http://www.kugou.com/mvweb/html/mv_471211.html"  target="_blank">素颜 江苏跨年晚会现场版</a> </li>
				 	                <li><a href="http://www.kugou.com/yy/html/search.html#searchType=mv&searchKeyWord=%E8%AE%B8%E5%B5%A9"  target="_blank"><font size="1" color="#FDFDFD">more</font></a> </li>
				 	           </ui>
				           </p>
　　　　　　　　　　</div>

					</div>
			     </div>
		
	<img src="/static/images/border.png" alt="Border" class="templatemo-border">		
	{% endblock %}
	